/* Estilos generales para el body y main */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

main {
    padding: 20px;
    height: 2000px; /* Solo para demostrar el efecto del scroll */
}

/* Estilos para el header fijo */
header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    z-index: 1000; /* Asegura que el header esté por encima de otros elementos */
}

header h1 {
    margin: 0;
    color: red; /* Título en rojo */
}
